{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <p>Hello world</p>
            <p>console.log('');</p>
            <p>console.log('');</p>
            <p>console.log('');</p> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore quidem atque quos dolorem accusamus suscipit saepe harum voluptates magni. Voluptate quo rerum culpa nemo praesentium similique eos adipisci numquam provident.</p>
            <p>Data Dari backend {{index .StringMap "users"}}</p>
            <p>Data Dari backend {{index .StringMap "test"}}</p>
        </div>
    </div>
</div>
{{end}}