{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="static/image/generals-quarters.png" class="img-fluid d-block mx-auto room-image rounded-2" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col">
                <h2 class="text-center">Ruangan Umum</h2>
                <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, sed. Eligendi repudiandae voluptatum dolore suscipit beatae quas officia, architecto, deserunt in aspernatur consectetur tempore quam commodi quae maiores soluta nihil.</p>
                <a class="btn btn-info" href="/make-reservation">Make Reservation</a>
        </div>
    </div>
  </div>
{{end}}
{{define "js"}}

    
{{end}}